h2{
    font-size: 38px;
margin-top: 13px;
margin-left: 617px;
}
.left-side{
    font-size: 30px;
    height: 400px;
    width: 390px;
    background-color: white;
    position: relative;
    left: 239px;
}
.right-side{
    font-size: 30px;
height: 400px;
width: 628px;
background-color: rgba(11, 41, 212, 0.14);
position: relative;
left: 625px;
top: -373px;
}